Numpy

In [3]:
import numpy as np

In [4]:
np.zeros((4, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [5]:
np.arange(2,10)

array([2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
np.linspace(0, 10, 11)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [7]:
np.logspace(2, 4, 8)

array([  100.        ,   193.06977289,   372.75937203,   719.685673  ,
        1389.49549437,  2682.69579528,  5179.47467923, 10000.        ])

In [8]:
np.random.rand(2, 2, 2)

array([[[0.19217612, 0.36750244],
        [0.78290879, 0.3108842 ]],

       [[0.82176806, 0.74155867],
        [0.15087019, 0.58203146]]])

In [9]:
integer_rand = np.random.randint(0, 4, size = (5, 5))
integer_rand

array([[2, 3, 1, 2, 1],
       [2, 0, 1, 3, 0],
       [0, 1, 3, 1, 3],
       [3, 2, 3, 2, 2],
       [2, 2, 2, 3, 0]])

In [10]:
integer_rand[:,3]

array([2, 3, 1, 2, 3])

In [11]:
integer_rand[2, :]

array([0, 1, 3, 1, 3])

In [12]:
integer_rand[0:2, 0:4]

array([[2, 3, 1, 2],
       [2, 0, 1, 3]])

In [13]:
a = np.zeros((3, 3))
b = np.ones((3, 3))
a

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [14]:
b

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [15]:
np.concatenate([a, b], axis = 0)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [16]:
np.concatenate([a, b], axis = 1)

array([[0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.]])

In [17]:
vert_conc_mat = np.vstack([a, b])
vert_conc_mat

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [18]:
hor_conc_mat = np.hstack([a, b])
hor_conc_mat

array([[0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.]])

In [19]:
vert1, vert2, = np.vsplit(vert_conc_mat, [3])
vert1

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [20]:
vert2

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [21]:
vert1.size

9

In [22]:
vert1.shape

(3, 3)

In [23]:
vert1.ndim

2

In [24]:
vert1.reshape(-1, 9).reshape(-1, 3)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [25]:
dim_data = np.array([2, 4, 6, 8, 10])
dim_data.ndim

1

In [26]:
dim_data[:, np.newaxis].ndim
# dim_data.ndim

2

In [27]:
np.sum(dim_data)

30

In [28]:
np.max(dim_data
      )

10

In [29]:
np.mean(dim_data)

6.0

In [30]:
complicated_sums = np.random.randint(1, 100, size = (7, 7))
complicated_sums

array([[58, 64, 74, 60, 55, 78, 77],
       [76, 71, 46, 49, 29, 20, 13],
       [95, 63, 68, 48, 16, 61, 95],
       [41, 60, 36, 42, 77, 97, 59],
       [97, 92, 80, 20, 28, 47, 42],
       [90,  6, 28,  7, 88, 56, 77],
       [33, 98, 73, 38, 80, 45, 36]])

In [31]:
np.sum(complicated_sums, axis = 0)

array([490, 454, 405, 264, 373, 404, 399])

In [32]:
np.sum(complicated_sums, axis = 1)

array([466, 304, 446, 412, 406, 352, 403])

Pandas

In [33]:
import pandas as pd

In [34]:
first_series = pd.Series(data = [1, 2, 3, 4, 5], index = list('abcde'))
first_series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [35]:
second_series = pd.Series(data = [11, 22, 33, 44, 55], index = list('abcde'))
second_series

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [36]:
df = pd.DataFrame({'A':first_series, 'B':second_series})
df

   A   B
a  1  11
b  2  22
c  3  33
d  4  44
e  5  55

In [39]:
pd.DataFrame(data = np.random.randint(1, 16, size = (10, 10)), index = list('ABCDEFGHIJ'), columns = list('abcdefghij'))

    a   b   c   d   e   f   g   h   i   j
A   1  11   8  14  11   6  15  11   2   8
B   2   2  10   7   4   9  14   4   3   6
C   6  15  13   3   4   9   8   9  11   2
D   9   1   6   8   9  13  12   3   6   9
E   6  11  15   9   8   5   7  12  10   8
F   2   5   6   2  14   1   9   8   7  11
G  12   4  12   4  14   7   2   6   1  13
H   9  11  14  10   5   3  10  15   7  10
I   7   5   8   7  14   8   8   7   5   3
J   1   6   4  12   6   7   2  11   9   7

Reading CSV and JSON files

In [41]:
hr_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/HR_comma_sep.csv.txt')

In [42]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [43]:
hr_data_itr = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/HR_comma_sep.csv.txt', chunksize=5000)

In [44]:
for hr_data in hr_data_itr:
    print(hr_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     5000 non-null   float64
 1   last_evaluation        5000 non-null   float64
 2   number_project         5000 non-null   int64
 3   average_montly_hours   5000 non-null   int64
 4   time_spend_company     5000 non-null   int64
 5   Work_accident          5000 non-null   int64
 6   left                   5000 non-null   int64
 7   promotion_last_5years  5000 non-null   int64
 8   sales                  5000 non-null   object
 9   salary                 5000 non-null   object
dtypes: float64(2), int64(6), object(2)
memory usage: 390.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 5000 to 9999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     5000 non-null   float64
 1   last_evaluation        5000 non-null   float64
 2   number_project         5000 non-null   int64
 3   average_montly_hours   5000 non-null   int64
 4   time_spend_company     5000 non-null   int64
 5   Work_accident          5000 non-null   int64
 6   left                   5000 non-null   int64
 7   promotion_last_5years  5000 non-null   int64
 8   sales                  5000 non-null   object
 9   salary                 5000 non-null   object
dtypes: float64(2), int64(6), object(2)
memory usage: 390.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 10000 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     4999 non-null   float64
 1   last_evaluation        4999 non-null   float64
 2   number_project         4999 non-null   int64
 3   average_montly_hours   4999 non-null   int64
 4   time_spend_company     4999 non-null   int64
 5   Work_accident          4999 non-null   int64
 6   left                   4999 non-null   int64
 7   promotion_last_5years  4999 non-null   int64
 8   sales                  4999 non-null   object
 9   salary                 4999 non-null   object
dtypes: float64(2), int64(6), object(2)
memory usage: 390.7+ KB
None

In [46]:
json_data = pd.read_json('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/movie.json.txt')

In [47]:
json_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Vertigo to Roman Holiday
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   David Smith       5 non-null      float64
 1   Brenda Peterson   6 non-null      float64
 2   Bill Duffy        4 non-null      float64
 3   Samuel Miller     5 non-null      float64
 4   Julie Hammel      3 non-null      float64
 5   Clarissa Jackson  6 non-null      float64
 6   Adam Cohen        5 non-null      float64
 7   Chris Duncan      2 non-null      float64
dtypes: float64(8)
memory usage: 432.0+ bytes

Connecting to Databases

In [48]:
!pip install pysqlite3

Defaulting to user installation because normal site-packages is not writeable
Collecting pysqlite3
  Downloading pysqlite3-0.4.7.tar.gz (40 kB)
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py): started
  Building wheel for pysqlite3 (setup.py): finished with status 'done'
  Running setup.py clean for pysqlite3
Failed to build pysqlite3
Installing collected packages: pysqlite3
    Running setup.py install for pysqlite3: started
    Running setup.py install for pysqlite3: finished with status 'done'
Successfully installed pysqlite3

  WARNING: Legacy build of wheel for 'pysqlite3' created no files.
  Command arguments: 'C:\ProgramData\Anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\OLUWADAMILARE\\AppData\\Local\\Temp\\pip-install-8cs1r1o7\\pysqlite3_5b0ce24580ad4af08788ae4a0d209f21\\setup.py'"'"'; __file__='"'"'C:\\Users\\OLUWADAMILARE\\AppData\\Local\\Temp\\pip-install-8cs1r1o7\\pysqlite3_5b0ce24580ad4af08788ae4a0d209f21\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\OLUWADAMILARE\AppData\Local\Temp\pip-wheel-rasootl5'
  Command output: [use --verbose to show]

In [49]:
import sqlite3

In [ ]:
# con = sqlite3.connect()